<h1>Books</h1>

<div class="container">
  <ul>
    <% @books.each do |book| %>
      <li>
        <%= book.title %> by <%= book.author %>
        (<%= book.rating %>/5)
        <%= link_to 'Read more', book %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Book', new_book_path, class: 'new-book-link' %>
</div>